h3{
    text-decoration: solid;
    text-decoration-line: underline;
}
div p a{
    color: orange; ;
}
div p a mark{
  color:#932763 ;
} 
div h4{
    color: blue;
}
div h4 a{
    color: orange;
}
ul a{
    color: red;
}
ul li ul{
    color: blue;
}